In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import pickle

In [3]:
data=pd.read_csv("Churn_Modelling.csv")
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [4]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [5]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [6]:
# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [7]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [8]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [9]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [10]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [11]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

## ANN Regression Problem statement

In [12]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [13]:
## Build the model

model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1)
])


## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

WARNING:tensorflow:From d:\dummy\genAI_learning\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From d:\dummy\genAI_learning\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [14]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [15]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [16]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From d:\dummy\genAI_learning\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From d:\dummy\genAI_learning\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 2s 4ms/step - loss: 100368.0781 - mae: 100368.0781 - val_loss: 98478.7578 - val_mae: 98478.7578
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 99474.3281 - mae: 99474.3281 - val_loss: 96664.7109 - val_mae: 96664.7109
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 96335.8906 - mae: 96335.8906 - val_loss: 92060.8281 - val_mae: 92060.8281
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 90238.0234 - mae: 90238.0234 - val_loss: 84546.9766 - val_mae: 84546.9766
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 81562.8594 - mae: 81562.8594 - val_loss: 75152.3203 - val_mae: 75152.3203
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 71811.9375 - mae: 71811.9375 - val_loss: 65932.3047 - val_mae: 65932.3047
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 62932.4297 - mae: 62932.4297 - val_loss: 58487.2930 - val_mae: 58487.2930
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 56520.0625 - mae: 56520.0625 - val_loss: 53775.2227 - val_mae: 53775.2227
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 52810.5664 - mae: 52810.5664 - val_loss: 51529.4219 - val_mae: 51529.4219
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 51100.0586 - mae: 51100.0586 - val_loss: 50714.4375 - val_mae: 50714.4375
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 50477.1406 - mae: 50477.1406 - val_loss: 50495.5977 - val_mae: 50495.5977
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 50270.4805 - mae: 50270.4805 - val_loss: 50437.6836 - val_mae: 50437.6836
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 50168.1562 - mae: 50168.1562 - val_loss: 50399.2891 - val_mae: 50399.2891
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 50101.8398 - mae: 50101.8398 - val_loss: 50381.1758 - val_mae: 50381.1758
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 50046.0547 - mae: 50046.0547 - val_loss: 50361.7070 - val_mae: 50361.7070
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 50001.9609 - mae: 50001.9609 - val_loss: 50338.3594 - val_mae: 50338.3594
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 49960.3945 - mae: 49960.3945 - val_loss: 50318.5703 - val_mae: 50318.5703
Epoch 18/100
250/250 [==============================] - 1s 3ms/step - loss: 49926.1016 - mae: 49926.1016 - val_loss: 50313.3398 - val_mae: 50313.3398
Epoch 19/100
250/250 [==============================] - 1s 3ms/step - loss: 49899.3867 - mae: 49899.3867 - val_loss: 50311.2930 - val_mae: 50311.2930
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 49865.8984 - mae: 49865.8984 - val_loss: 50286.0195 - val_mae: 50286.0195
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 49841.5273 - mae: 49841.5273 - val_loss: 50264.8789 - val_mae: 50264.8789
Epoch 22/100
250/250 [==============================] - 1s 3ms/step - loss: 49813.1758 - mae: 49813.1758 - val_loss: 50255.6875 - val_mae: 50255.6875
Epoch 23/100
250/250 [==============================] - 1s 3ms/step - loss: 49787.3125 - mae: 49787.3125 - val_loss: 50249.0352 - val_mae: 50249.0352
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 49767.1953 - mae: 49767.1953 - val_loss: 50240.8438 - val_mae: 50240.8438
Epoch 25/100
250/250 [==============================] - 1s 3ms/step - loss: 49745.9219 - mae: 49745.9219 - val_loss: 50236.3281 - val_mae: 50236.3281
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 49728.0742 - mae: 49728.0742 - val_loss: 50220.7656 - val_mae: 50220.7656
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 49709.5859 - mae: 49709.5859 - val_loss: 50215.7695 - val_mae: 50215.7695
Epoch 28/100
250/250 [==============================] - 1s 3ms/step - loss: 49692.3438 - mae: 49692.3438 - val_loss: 50201.0938 - val_mae: 50201.0938
Epoch 29/100
250/250 [==============================] - 1s 3ms/step - loss: 49676.0391 - mae: 49676.0391 - val_loss: 50200.3203 - val_mae: 50200.3203
Epoch 30/100
250/250 [==============================] - 1s 3ms/step - loss: 49660.2266 - mae: 49660.2266 - val_loss: 50195.7773 - val_mae: 50195.7773
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 49646.9336 - mae: 49646.9336 - val_loss: 50184.6641 - val_mae: 50184.6641
Epoch 32/100
250/250 [==============================] - 1s 3ms/step - loss: 49631.4219 - mae: 49631.4219 - val_loss: 50185.8438 - val_mae: 50185.8438
Epoch 33/100
250/250 [==============================] - 1s 3ms/step - loss: 49620.0859 - mae: 49620.0859 - val_loss: 50175.0469 - val_mae: 50175.0469
Epoch 34/100
250/250 [==============================] - 1s 3ms/step - loss: 49604.2812 - mae: 49604.2812 - val_loss: 50187.5703 - val_mae: 50187.5703
Epoch 35/100
250/250 [==============================] - 1s 3ms/step - loss: 49593.3203 - mae: 49593.3203 - val_loss: 50179.1914 - val_mae: 50179.1914
Epoch 36/100
250/250 [==============================] - 1s 3ms/step - loss: 49578.9688 - mae: 49578.9688 - val_loss: 50172.8750 - val_mae: 50172.8750
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 49567.5312 - mae: 49567.5312 - val_loss: 50165.2539 - val_mae: 50165.2539
Epoch 38/100
250/250 [==============================] - 1s 3ms/step - loss: 49558.3555 - mae: 49558.3555 - val_loss: 50157.3438 - val_mae: 50157.3438
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 49548.9648 - mae: 49548.9648 - val_loss: 50161.5117 - val_mae: 50161.5117
Epoch 40/100
250/250 [==============================] - 1s 3ms/step - loss: 49537.1367 - mae: 49537.1367 - val_loss: 50176.9258 - val_mae: 50176.9258
Epoch 41/100
250/250 [==============================] - 1s 3ms/step - loss: 49529.7070 - mae: 49529.7070 - val_loss: 50175.2344 - val_mae: 50175.2344
Epoch 42/100
250/250 [==============================] - 1s 3ms/step - loss: 49521.0117 - mae: 49521.0117 - val_loss: 50172.5938 - val_mae: 50172.5938
Epoch 43/100
250/250 [==============================] - 1s 3ms/step - loss: 49514.7695 - mae: 49514.7695 - val_loss: 50173.9805 - val_mae: 50173.9805
Epoch 44/100
250/250 [==============================] - 1s 3ms/step - loss: 49503.2656 - mae: 49503.2656 - val_loss: 50162.8438 - val_mae: 50162.8438
Epoch 45/100
250/250 [==============================] - 1s 3ms/step - loss: 49497.7344 - mae: 49497.7344 - val_loss: 50173.0859 - val_mae: 50173.0859
Epoch 46/100
250/250 [==============================] - 1s 3ms/step - loss: 49489.8867 - mae: 49489.8867 - val_loss: 50183.4102 - val_mae: 50183.4102
Epoch 47/100
250/250 [==============================] - 1s 3ms/step - loss: 49481.5898 - mae: 49481.5898 - val_loss: 50181.5938 - val_mae: 50181.5938
Epoch 48/100
250/250 [==============================] - 1s 3ms/step - loss: 49475.4688 - mae: 49475.4688 - val_loss: 50183.3906 - val_mae: 50183.3906

In [17]:
## Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 [==============================] - 0s 2ms/step - loss: 50157.3438 - mae: 50157.3438
Test MAE : 50157.34375

In [18]:
model.save('regression_model.h5')

d:\dummy\genAI_learning\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(